<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.integreight.onesheeld"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.integreight.onesheeld.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/one_sheeld_action_bar_colored" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.integreight.onesheeld.activities.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />

        <service
            android:name="com.integreight.onesheeld.services.OneSheeldService"
            android:exported="false" />

        <activity
            android:name="com.integreight.onesheeld.ShieldsOperationActivity"
            android:label="@string/title_activity_shields_operation"
            android:theme="@style/one_sheeld_action_bar_colored"
            android:parentActivityName="com.integreight.onesheeld.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.integreight.onesheeld.activities.MainActivity" />
        </activity>
    </application>

</manifest>